<h1> Machines: </h1>

<table>
<tr>
  <th> Type </th>
  <th> Brand </th>
  <th> Model </th>
  <th> Year of production: </th>
  <th> Description </th>
  <th> Show </th>
  <th> Delete </th>
  <th> Edit </th>
</tr>
<% @machines.each do |m| %>
<tr>
  <td> <%= m.Type %></td>
  <td> <%= m.Brand %></td>
  <td> <%= m.Model %></td>
  <td> <%= m.Year %></td>
  <td> <%= m.Description %></td>
  <td> <%= link_to 'Show', machine_path(m) %> </td>
  <td> <%= link_to 'Delete', machine_path(m), method: :delete %> </td>
  <td> <%= link_to 'Edit', edit_machine_path(m) %> </td>
</tr>
<% end %>
</table>