<h1> Machines: </h1>

<table>
<tr>
  <th> Type </th>
  <th> Brand </th>
  <th> Model </th>
  <th> Year of production: </th>
  <th> Description </th>
</tr>
<% @machines.each do |m| %>
<tr>
  <td> <%= m.Type %></td>
  <td> <%= m.Brand %></td>
  <td> <%= m.Model %></td>
  <td> <%= m.Year %></td>
  <td> <%= m.Description %></td>
</tr>
<% end %>
</table>