<h1>Machine info:</h1>


<table>
<tr>
  <th> Type </th>
  <th> Brand </th>
  <th> Model </th>
  <th> Year of production: </th>
  <th> Description </th>
</tr>
<tr>
  <td> <%= @machine.Type %></td>
  <td> <%= @machine.Brand %></td>
  <td> <%= @machine.Model %></td>
  <td> <%= @machine.Year %></td>
  <td> <%= @machine.Description %></td>
</tr>
</table>
<% @machine.machine_photos.each do |m| %>
<%= image_tag(m.photo_url)%>
<% end %> 